*/ml-100k/*
*/ml-100k*
HW1/Assignment1 copy.ipynb
HW1/results202212101310.csv
.venv/
*/.venv/
Project/data2Keep/movies_df.pkl
Project/data/credits.csv
Project/data/keywords.csv
Project/data/links_small.csv
Project/data/links.csv
Project/data/movies_creds.csv
Project/data/movies_metadata.csv
Project/data/ratings_small.csv
Project/data/ratings.csv
Project/data2Keep/beforelastXRatings.pkl
Project/data2Keep/lastXRatings.pkl
Project/data2Keep/test_movies.pkl
Project/data2Keep/test_users.pkl
Project/data2Keep/train_movies.pkl
Project/data2Keep/train_users.pkl
Project/data2Keep/BPR1_item_embeddings.pkl
Project/data2Keep/BPR1_user_embeddings.pkl
Project/data2Keep/BPR2_item_embeddings.pkl
Project/data2Keep/BPR2_user_embeddings.pkl
Project/data2Keep/columnMappings.json
Project/data/directors_embedding.npy
